# macOS
.DS_Store

# Windows
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*.so
.env
venv/
env/

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
